### **PROJECT TITLE: SPAM DETECTION (MACHINE LEARNING) : NATURAL LANGUAGE PROCESSING CLASSIFICATION**

---

A project developed for the Software Development program for Machine Learning and Image Processing

---

**[1] SPAM DETECTION USING NATURAL LANGUAGE PROCESSING CLASSIFICSTION**

---

In [4]:

import pandas as pd
import numpy as np

file_url = 'SMSSpamCollection.txt'

**Dataset : SMSSpamCollection.txt**

Reading the File

In [5]:
data = pd.read_csv(file_url, sep = '\t', header=None, names=["label", "sms"])
data.head()

  label                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
data.describe()

       label                     sms
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   5572 non-null   object
 1   sms     5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [8]:
data.tail()

     label                                                sms
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will Ã¼ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

**Data Pre-Processing**

In [9]:
import string
import nltk
nltk.download('stopwords')
nltk.download('punkt')

stopwords = nltk.corpus.stopwords.words('english')
punctuation = string.punctuation

print(stopwords[:5])
print(punctuation)

[nltk_data] Downloading package stopwords to C:\Users\Sharan
[nltk_data]     Murli\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package punkt to C:\Users\Sharan
[nltk_data]     Murli\AppData\Roaming\nltk_data...

['i', 'me', 'my', 'myself', 'we']
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

[nltk_data]   Unzipping tokenizers\punkt.zip.

In [10]:
def pre_process(sms):
    remove_punct = "".join([word.lower() for word in sms if word not in punctuation])
    tokenize = nltk.tokenize.word_tokenize(remove_punct)
    remove_stopwords = [word for word in tokenize if word not in stopwords]
    return remove_stopwords

#adding a column to our data with our processed messages
data['processed'] = data['sms'].apply(lambda x: pre_process(x))

print(data['processed'].head())

0    [go, jurong, point, crazy, available, bugis, n...
1                       [ok, lar, joking, wif, u, oni]
2    [free, entry, 2, wkly, comp, win, fa, cup, fin...
3        [u, dun, say, early, hor, u, c, already, say]
4    [nah, dont, think, goes, usf, lives, around, t...
Name: processed, dtype: object

**Categorizing and Counting Tokens**

In [11]:
def categorize_words():
    spam_words = []
    ham_words = []


    for sms in data['processed'][data['label'] == 'spam']:
        for word in sms:
            spam_words.append(word)


    for sms in data['processed'][data['label'] == 'ham']:
        for word in sms:
            ham_words.append(word)
    return spam_words, ham_words

spam_words, ham_words = categorize_words()

print(spam_words[:5])
print(ham_words[:5])

['free', 'entry', '2', 'wkly', 'comp']
['go', 'jurong', 'point', 'crazy', 'available']

**Predict Function**

In [12]:
def predict(sms):
  spam_counter = 0
  ham_counter = 0

  for word in sms:
      spam_counter += spam_words.count(word)
      ham_counter += ham_words.count(word)
  print("\nSPAM DETECTION USING NATURAL LANGUAGE PROCESSING")
  print('****************************************************\n')
  print("Results:")

  if ham_counter > spam_counter:
      accuracy = round((ham_counter / (ham_counter + spam_counter) * 100))
      print('The messege is not a spam, with {}% certainty'.format(accuracy))

  elif ham_counter == spam_counter:
      print('The message could be a spam')

  else:
      accuracy = round((spam_counter / (ham_counter + spam_counter)* 100))
      print('The message is a spam, with {}% certainty'.format(accuracy))

**User Input and Final Result**

In [13]:
user_input = input("Type message to check whether the message entered is a spam or ham :\n")


processed_input = pre_process(user_input)

predict(processed_input)

SPAM DETECTION USING NATURAL LANGUAGE PROCESSING
****************************************************

Results:
The message is a spam, with 81% certainty